.css_id_producto_label { }
.css_id_producto_line {text-align:left;}
.css_id_producto_obj {text-align:left;}
.css_nombre_producto_label { }
.css_nombre_producto_line { }
.css_nombre_producto_obj { }
.css_referencia_producto_label { }
.css_referencia_producto_line { }
.css_referencia_producto_obj { }
.css_marca_producto_label { }
.css_marca_producto_line { }
.css_marca_producto_obj { }
.css_descripcion_producto_label { }
.css_descripcion_producto_line { }
.css_descripcion_producto_obj { }
.css_id_categoria_label { }
.css_id_categoria_line {text-align:left;}
.css_id_categoria_obj {text-align:left;}
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
