.css_id_proveedor_det_label {text-align: left;vertical-align: middle;}
.css_id_proveedor_det_line {height:0px;text-align: left;}
.css_nombre_proveedor_det_label {text-align: left;vertical-align: middle;}
.css_nombre_proveedor_det_line {height:0px;text-align: left;}
.css_telefono_fijo_proveedor_det_label {text-align: left;vertical-align: middle;}
.css_telefono_fijo_proveedor_det_line {height:0px;text-align: left;}
.css_telefono_celular_proveedor_det_label {text-align: left;vertical-align: middle;}
.css_telefono_celular_proveedor_det_line {height:0px;text-align: left;}
.css_direccion_proveedor_det_label {text-align: left;vertical-align: middle;}
.css_direccion_proveedor_det_line {height:0px;text-align: left;}
.css_id_usuario_det_label {text-align: left;vertical-align: middle;}
.css_id_usuario_det_line {height:0px;text-align: left;}
