.css_id_usuario_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_usuario_grid_line {vertical-align: top;text-align: right;}
.css_nombre_usuario_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_usuario_grid_line {vertical-align: top;text-align: left;}
.css_email_usuario_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_email_usuario_grid_line {vertical-align: top;text-align: left;}
.css_password_usuario_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_password_usuario_grid_line {vertical-align: top;text-align: left;}
.css_estado_usuario_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_estado_usuario_grid_line {vertical-align: top;text-align: right;}
.css_id_perfil_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_perfil_grid_line {vertical-align: top;text-align: right;}
