.css_id_usuario_det_label {text-align: left;vertical-align: middle;}
.css_id_usuario_det_line {height:0px;text-align: left;}
.css_nombre_usuario_det_label {text-align: left;vertical-align: middle;}
.css_nombre_usuario_det_line {height:0px;text-align: left;}
.css_email_usuario_det_label {text-align: left;vertical-align: middle;}
.css_email_usuario_det_line {height:0px;text-align: left;}
.css_password_usuario_det_label {text-align: left;vertical-align: middle;}
.css_password_usuario_det_line {height:0px;text-align: left;}
.css_estado_usuario_det_label {text-align: left;vertical-align: middle;}
.css_estado_usuario_det_line {height:0px;text-align: left;}
.css_id_perfil_det_label {text-align: left;vertical-align: middle;}
.css_id_perfil_det_line {height:0px;text-align: left;}
.css_id_tipodoc_det_label {text-align: left;vertical-align: middle;}
.css_id_tipodoc_det_line {height:0px;text-align: left;}
