.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
.css_nombre_usuario_label { }
.css_nombre_usuario_line { }
.css_nombre_usuario_obj { }
.css_email_usuario_label { }
.css_email_usuario_line { }
.css_email_usuario_obj { }
.css_password_usuario_label { }
.css_password_usuario_line { }
.css_password_usuario_obj { }
.css_estado_usuario_label { }
.css_estado_usuario_line {text-align:left;}
.css_estado_usuario_obj {text-align:left;}
.css_id_perfil_label { }
.css_id_perfil_line {text-align:left;}
.css_id_perfil_obj {text-align:left;}
.css_id_tipodoc_label { }
.css_id_tipodoc_line {text-align:left;}
.css_id_tipodoc_obj {text-align:left;}
