.css_id_pedido_label { }
.css_id_pedido_line {text-align:left;}
.css_id_pedido_obj {text-align:left;}
.css_fecha_pedido_label { }
.css_fecha_pedido_line { }
.css_fecha_pedido_obj { }
.css_cantidad_pedido_label { }
.css_cantidad_pedido_line {text-align:left;}
.css_cantidad_pedido_obj {text-align:left;}
.css_valor_unidad_pedido_label { }
.css_valor_unidad_pedido_line {text-align:left;}
.css_valor_unidad_pedido_obj {text-align:left;}
.css_id_cliente_label { }
.css_id_cliente_line {text-align:left;}
.css_id_cliente_obj {text-align:left;}
