.css_id_proveedor_label { }
.css_id_proveedor_line {text-align:left;}
.css_id_proveedor_obj {text-align:left;}
.css_nombre_proveedor_label { }
.css_nombre_proveedor_line { }
.css_nombre_proveedor_obj { }
.css_telefono_fijo_proveedor_label { }
.css_telefono_fijo_proveedor_line { }
.css_telefono_fijo_proveedor_obj { }
.css_telefono_celular_proveedor_label { }
.css_telefono_celular_proveedor_line { }
.css_telefono_celular_proveedor_obj { }
.css_direccion_proveedor_label { }
.css_direccion_proveedor_line { }
.css_direccion_proveedor_obj { }
.css_id_usuario_label { }
.css_id_usuario_line {text-align:left;}
.css_id_usuario_obj {text-align:left;}
