.css_id_producto_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_producto_grid_line {vertical-align: top;text-align: right;}
.css_id_pedido_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_pedido_grid_line {vertical-align: top;text-align: right;}
