.css_id_producto_det_label {text-align: right;vertical-align: middle;}
.css_id_producto_det_line {height:0px;text-align: right;}
.css_id_pedido_det_label {text-align: right;vertical-align: middle;}
.css_id_pedido_det_line {height:0px;text-align: right;}
