.css_id_categoria_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_categoria_grid_line {vertical-align: top;text-align: right;}
.css_nombre_categoria_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_categoria_grid_line {vertical-align: top;text-align: right;}
