.css_id_producto_det_label {text-align: right;vertical-align: middle;}
.css_id_producto_det_line {height:0px;text-align: right;}
.css_id_proveedor_det_label {text-align: right;vertical-align: middle;}
.css_id_proveedor_det_line {height:0px;text-align: right;}
.css_cantidad_ingreso_det_label {text-align: right;vertical-align: middle;}
.css_cantidad_ingreso_det_line {height:0px;text-align: right;}
.css_valor_unidad_ingreso_det_label {text-align: right;vertical-align: middle;}
.css_valor_unidad_ingreso_det_line {height:0px;text-align: right;}
.css_fecha_ingreso_det_label {text-align: right;vertical-align: middle;}
.css_fecha_ingreso_det_line {height:0px;text-align: right;}
