.css_id_producto_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_producto_grid_line {vertical-align: top;text-align: right;}
.css_id_proveedor_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_proveedor_grid_line {vertical-align: top;text-align: right;}
.css_cantidad_ingreso_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_cantidad_ingreso_grid_line {vertical-align: top;text-align: right;}
.css_valor_unidad_ingreso_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_valor_unidad_ingreso_grid_line {vertical-align: top;text-align: right;}
.css_fecha_ingreso_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_ingreso_grid_line {vertical-align: top;text-align: center;}
