.css_id_producto_det_label {text-align: left;vertical-align: middle;}
.css_id_producto_det_line {height:0px;text-align: left;}
.css_nombre_producto_det_label {text-align: left;vertical-align: middle;}
.css_nombre_producto_det_line {height:0px;text-align: left;}
.css_referencia_producto_det_label {text-align: left;vertical-align: middle;}
.css_referencia_producto_det_line {height:0px;text-align: left;}
.css_marca_producto_det_label {text-align: left;vertical-align: middle;}
.css_marca_producto_det_line {height:0px;text-align: left;}
.css_descripcion_producto_det_label {text-align: left;vertical-align: middle;}
.css_descripcion_producto_det_line {height:0px;text-align: left;}
.css_id_categoria_det_label {text-align: left;vertical-align: middle;}
.css_id_categoria_det_line {height:0px;text-align: left;}
.css_id_usuario_det_label {text-align: left;vertical-align: middle;}
.css_id_usuario_det_line {height:0px;text-align: left;}
