.css_id_producto_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_producto_grid_line {vertical-align: top;text-align: right;}
.css_nombre_producto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_nombre_producto_grid_line {vertical-align: top;text-align: right;}
.css_referencia_producto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_referencia_producto_grid_line {vertical-align: top;text-align: right;}
.css_marca_producto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_marca_producto_grid_line {vertical-align: top;text-align: right;}
.css_descripcion_producto_label {text-align:left;vertical-align:middle;font-weight:bold;}
.css_descripcion_producto_grid_line {vertical-align: top;text-align: right;}
.css_id_categoria_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_categoria_grid_line {vertical-align: top;text-align: right;}
