.css_id_perfil_det_label {text-align: right;vertical-align: middle;}
.css_id_perfil_det_line {height:0px;text-align: right;}
.css_nombre_perfil_det_label {text-align: right;vertical-align: middle;}
.css_nombre_perfil_det_line {height:0px;text-align: right;}
