.css_id_tipodoc_det_label {text-align: right;vertical-align: middle;}
.css_id_tipodoc_det_line {height:0px;text-align: right;}
.css_descripcion_det_label {text-align: right;vertical-align: middle;}
.css_descripcion_det_line {height:0px;text-align: right;}
