.css_id_cliente_det_label {text-align: right;vertical-align: middle;}
.css_id_cliente_det_line {height:0px;text-align: right;}
.css_nombre_cliente_det_label {text-align: right;vertical-align: middle;}
.css_nombre_cliente_det_line {height:0px;text-align: right;}
.css_telefono_fijo_cliente_det_label {text-align: right;vertical-align: middle;}
.css_telefono_fijo_cliente_det_line {height:0px;text-align: right;}
.css_telefono_celular_cliente_det_label {text-align: right;vertical-align: middle;}
.css_telefono_celular_cliente_det_line {height:0px;text-align: right;}
.css_direccion_cliente_det_label {text-align: right;vertical-align: middle;}
.css_direccion_cliente_det_line {height:0px;text-align: right;}
.css_id_usuario_det_label {text-align: right;vertical-align: middle;}
.css_id_usuario_det_line {height:0px;text-align: right;}
