.css_id_pedido_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_pedido_grid_line {vertical-align: top;text-align: right;}
.css_fecha_pedido_label {text-align:center;vertical-align:middle;font-weight:bold;}
.css_fecha_pedido_grid_line {vertical-align: top;text-align: center;}
.css_cantidad_pedido_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_cantidad_pedido_grid_line {vertical-align: top;text-align: right;}
.css_valor_unidad_pedido_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_valor_unidad_pedido_grid_line {vertical-align: top;text-align: right;}
.css_id_cliente_label {text-align:right;vertical-align:middle;font-weight:bold;}
.css_id_cliente_grid_line {vertical-align: top;text-align: right;}
