.css_id_pedido_det_label {text-align: right;vertical-align: middle;}
.css_id_pedido_det_line {height:0px;text-align: right;}
.css_fecha_pedido_det_label {text-align: right;vertical-align: middle;}
.css_fecha_pedido_det_line {height:0px;text-align: right;}
.css_cantidad_pedido_det_label {text-align: right;vertical-align: middle;}
.css_cantidad_pedido_det_line {height:0px;text-align: right;}
.css_valor_unidad_pedido_det_label {text-align: right;vertical-align: middle;}
.css_valor_unidad_pedido_det_line {height:0px;text-align: right;}
.css_id_cliente_det_label {text-align: right;vertical-align: middle;}
.css_id_cliente_det_line {height:0px;text-align: right;}
