.css_id_producto_label { }
.css_id_producto_line {text-align:left;}
.css_id_producto_obj {text-align:left;}
.css_id_proveedor_label { }
.css_id_proveedor_line {text-align:left;}
.css_id_proveedor_obj {text-align:left;}
.css_cantidad_ingreso_label { }
.css_cantidad_ingreso_line {text-align:left;}
.css_cantidad_ingreso_obj {text-align:left;}
.css_valor_unidad_ingreso_label { }
.css_valor_unidad_ingreso_line {text-align:left;}
.css_valor_unidad_ingreso_obj {text-align:left;}
.css_fecha_ingreso_label { }
.css_fecha_ingreso_line { }
.css_fecha_ingreso_obj { }
